@charset "UTF-8";
*{
    background-color: rgb(183, 222, 255);
    color: black;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
    padding:0px;
}
h1{
    font-size: 32pt;
    font-family: Courier New, Courier, 'monospace';
    margin: auto;
    text-align: center;
}
section{
    display: block;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1300px;
    margin: auto; 
}
table{
    margin: auto;   
    margin-top: 100px;
}
th{
    padding: 0px;
}
div.B{
    text-align: center;
    font-size: 64pt;
    width: 100px;
    height: 100px;
}
p{
    text-align: center;
    font-size: 32pt;
    width: 100px;
    height:100px;
}   
#B1{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
#B2{
    border: 1px solid black;
    border-top: 0px solid black;
}
#B3{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
#B4{
    border: 1px solid black;
    border-left: 0px solid black;
}
#B5{
    border: 1px solid black;
}
#B6{
    border: 1px solid black;
    border-right: 0px solid black;
}
#B7{
    border-right: 1px solid black;
    border-top: 1px solid black;
}
#B8{
    border: 1px solid black;
    border-bottom: 0px solid black;
}
#B9{
    border-left: 1px solid black;
    border-top: 1px solid black;
}