@charset "UTF-8";
*{
    background-color: aliceblue;
    color: black;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
    padding:0px;
}
th{
    border: 1px solid black;
    padding: 0px;
}
div.B{
    width: 100px;
    height: 100px;
}
p{
    width: 100px;
    height:100px;
}   