@charset "UTF-8";
*{
    background-color: aliceblue;
    color: black;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
    padding:0px;
}
#base{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1300px;
    margin: 50px;
    background-color: blueviolet;
}
#JV{
    
}
th{
    border: 1px solid black;
    padding: 50px;
}
div.B{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}
p{
    width: 100px;
    height:100px;
    background-color: aqua;
    text-align: center;
}