@charset "UTF-8";
*{
    background-color: rgb(183, 222, 255);
    color: black;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
    padding:0px;
}
h1{
    font-size: 32pt;
    font-family: Courier New, Courier, 'monospace';
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
h3{
    font-size: 16pt;
    font-family: Courier New, Courier, 'monospace';
    margin: auto;
    text-align: center;
    margin-top: -70px;
    /* Tem que resolver esta gambiarra */
}
#TebelaDePontos aside{
    border: 1px solid black;
    width: 500px;
    height: 250px;
    z-index: 5;
}
#TebelaDePontos h1{
    font-size: 16pt;
    font-family: Courier New, Courier, 'monospace';
    margin: auto;
    text-align: left;
    margin-top: 20px;
}
#base aside{
    display: block;
    align-items: center;
    justify-content: space-between;
    margin: auto; 
}
table{
    margin: auto;   
    margin-top: 30px;
}
#JV th{
    padding: 0px;
}
#JV div.B{
    text-align: center;
    font-size: 128pt;
    width: 150px;
    height: 150px;
}
#JV p{
    text-align: center;
    font-size: 32pt;
    width: 150px;
    height:150px;
}   
#B1{
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}
#B2{
    border: 5px solid black;
    border-top: 0px solid black;
}
#B3{
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}
#B4{
    border: 5px solid black;
    border-left: 0px solid black;
}
#B5{
    border: 5px solid black;
}
#B6{
    border: 5px solid black;
    border-right: 0px solid black;
}
#B7{
    border-right: 5px solid black;
    border-top: 5px solid black;
}
#B8{
    border: 5px solid black;
    border-bottom: 0px solid black;
}
#B9{
    border-left: 5px solid black;
    border-top: 5px solid black;
}